name: Acceptance Test

on:
  workflow_dispatch:
  pull_request:


jobs:
  acceptance-test-msbuild:
    runs-on: windows-2022
    strategy:
      matrix:
        test_suite:
          - name: OutProc
            path: outproc
          - name: 32 Bit
            path: 32bit

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.300

      - name: Run ${{ matrix.test_suite.Name }} Acceptance test
        run: .\msbuild-acceptance-test.cmd
        working-directory: .\examples\${{ matrix.test_suite.path }}\scripts
        continue-on-error: false
