name: Build

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.300

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Check code format (editorconfig)
        run: dotnet format --verify-no-changes

      - name: Nuget pack library
        run: dotnet pack -c Release src/dscom/dscom.csproj

      - name: Nuget pack tool
        run: dotnet pack -c Release src/dscom.client/dscom.client.csproj

      - name: Nuget pack build tools
        run: dotnet pack -c Release src/dscom.build/dscom.build.csproj
