name: Code Style Check

on:
  workflow_dispatch:
  pull_request:

jobs:
  check-code-style:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: "./global.json"

      - name: Restore dependencies
        run: dotnet restore

      - name: Check dotnet version
        run: dotnet --version

      - name: Test version
        run: dotnet run --project .\test\test.csproj

      - name: Check code format (editorconfig)
        run: dotnet format --verify-no-changes
