name: Code Style Check

on:
  workflow_dispatch:
  pull_request:

jobs:
  check-code-style:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json
        env:
          # https://github.com/dotnet/sdk/issues/44957
          DOTNET_INSTALL_DIR: ${{ runner.temp }}/.dotnet
      - name: Restore dependencies
        run: dotnet restore

      - name: Check dotnet version
        run: |
          dotnet --version
          dotnet --list-runtimes
          dotnet --list-sdks
        continue-on-error: false

      - name: Check code format (editorconfig)
        run: dotnet format --verify-no-changes
        continue-on-error: false
