name: Example Tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  acceptance-test-msbuild:
    runs-on: windows-2022
    strategy:
      matrix:
        test_suite:
          - name: OutProc
            path: outproc
            requires_cpp: false
          - name: 32 Bit
            path: 32bit
            requires_cpp: false
          - name: C++/CLI
            path: cppcli
            requires_cpp: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
      - name: Setup .NET (x86)
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
        env:
          PROCESSOR_ARCHITECTURE: x86

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ matrix.test_suite.requires_cpp }}

      - name: Run ${{ matrix.test_suite.Name }} Acceptance test
        run: .\msbuild-acceptance-test.cmd
        working-directory: .\examples\${{ matrix.test_suite.path }}\scripts
        continue-on-error: false
