name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Get .net version
        run: dotnet --version

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release

      - name: Test (Release)
        run: dotnet test -c Release --no-build --verbosity normal

      - name: Nuget pack library
        run: dotnet pack -c Release src/dscom/dscom.csproj

      - name: Nuget push library
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET }} --source https://api.nuget.org/v3/index.json
        working-directory: src/dscom/bin/Release/

      - name: Nuget pack tool
        run: dotnet pack -c Release src/dscom.client/dscom.client.csproj

      - name: Nuget push tool
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET }} --source https://api.nuget.org/v3/index.json
        working-directory: src/dscom.client/bin/Release

      - name: Nuget pack build tools
        run: dotnet pack -c Release src/dscom.build/dscom.build.csproj

      - name: Nuget push build tools
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET }} --source https://api.nuget.org/v3/index.json
        working-directory: src/dscom.build/bin/Release

      - name: Publish 32Bit binary
        run: dotnet publish .\src\dscom.client\dscom.client.csproj --no-self-contained -c Release -r win-x86 -f net8.0 /p:PublishSingleFile=true; copy src\dscom.client\bin\Release\net8.0\win-x86\publish\dscom.exe src\dscom.client\bin\Release\net8.0\win-x86\publish\dscom32.exe

      - name: Release 32Bit binary
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: src/dscom.client/bin/Release/net8.0/win-x86/publish/dscom32.exe

      - name: Publish 64Bit binary
        run: dotnet publish .\src\dscom.client\dscom.client.csproj --no-self-contained -c Release -r win-x64 -f net8.0 /p:PublishSingleFile=true

      - name: Release 64Bit binary
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: src/dscom.client/bin/Release/net8.0/win-x64/publish/dscom.exe
